<ion-grid>
  <ion-row>
    <ion-col>
      <ion-title>
        <h1>Todos</h1>
      </ion-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-md="6">
      <app-add-todo (addTodo)="addTodo($event)"></app-add-todo>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-md="6">
      <ion-list *ngIf="hasTodos()">
        <div *ngFor="let todo of todos">
          <ion-item *ngIf="todo.projectId === activeProject._id; else elseblock">
            <ion-checkbox slot="start" [(ngModel)]="todo.completed" (ngModelChange)="onToggle(todo)"></ion-checkbox>
            <ion-label [ngClass]="{ 'is-complete': todo.completed }">
              <h3>{{ todo.title }}</h3>
            </ion-label>
            <ion-button (click)="onDelete(todo)" color="danger">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </div>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
