<app-add-todo (addTodo)="addTodo($event)"></app-add-todo>
<ion-col *ngIf="hasTodos() && renderTodos().length > 0; else nomessages">
  <ion-list>
    <div *ngFor="let todo of renderTodos()">
      <ion-item>
        <ion-checkbox slot="start" [(ngModel)]="todo.completed" (ngModelChange)="onToggle(todo)"></ion-checkbox>
        <ion-label [ngClass]="{ 'is-complete': todo.completed }">
          <h3>{{ todo.title }}</h3>
        </ion-label>
        <ion-button (click)="onDelete(todo)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </div>
  </ion-list>
</ion-col>
<ng-template #nomessages>
  <div>
    <p>You currently don't have any Todos in this Project, Time to add some!</p>
  </div>
</ng-template>
