p,
h1,
h2,
h3 {
  font-size: 120%;
}

ion-list {
  border: 1px dotted #dbd4cf;
  padding: 2rem;
  border-radius: 2em;
  box-shadow: 4px 7px 10px 3px rgba(197, 196, 196, 2);
}

ion-icon {
  font-size: 1.25em;
  margin-right: 0.6em;
  color: var(--ion-color-success);
}

form {
  margin-top: 2.4em;

  ion-item {
    margin: 10px 0 10px 0;
  }
}
