<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="4">
        <ion-title>
          <h2>Keep It Simple, Get Stuff Done</h2>
        </ion-title>
        <p>
          Get Stuff Done is what you need to plan, organize and to get the sweet satisfaction of checking all your stuff
          off once you´re done! From projects to shopping lists, Get Stuff done will make your life easier whenever and
          wherever you are. All at the same place with an easy layout.
        </p>
        <ion-list inset="true">
          <ion-item>
            <ion-label>
              <ion-icon name="checkmark-circle"></ion-icon>
              Easy overview projects, list and tasks
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon name="checkmark-circle"></ion-icon>
              Whenever; online or offline
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon name="checkmark-circle"></ion-icon>
              Whereever; desktop, tablet or phone
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon name="checkmark-circle"></ion-icon>
              Easy access, just a push on an icon and you can start getting stuff done
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-md="4">
        <h2>Sign up</h2>
        <form [formGroup]="user" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()">
          <ion-label>Name</ion-label>
          <ion-item>
            <ion-input type="text" formControlName="name" placeholder="Enter your name..."></ion-input>
          </ion-item>
          <ion-label>Email</ion-label>
          <ion-item>
            <ion-input formControlName="email" placeholder="Enter a valid email..."></ion-input>
          </ion-item>
          <ion-label>Your Password</ion-label>
          <ion-item>
            <ion-input formControlName="password" type="password" placeholder="Enter a strong password..."></ion-input>
          </ion-item>
          <ion-button type="submit" [disabled]="!user.valid" color="success">Submit</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
