<ion-grid>
  <ion-row>
    <ion-col>
      <ion-title>
        <h1>Get productive!</h1>
      </ion-title>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" size-md="6">
      <app-add-project (addProject)="addProject($event)"></app-add-project>
      <ion-list *ngIf="hasProjects()">
        <ion-item *ngFor="let project of projects">
          <ion-button class="project-btn" (click)="setActiveProject(project)">
            {{ project.name }}
          </ion-button>
          <ion-button (click)="onDelete(project)" color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col *ngIf="hasActiveProject()" size="12" size-md="6">
      <app-todos [activeProject]="getActiveProject()"> </app-todos>
    </ion-col>
  </ion-row>
</ion-grid>
